<div class="p-6 flex items-center justify-center">
    <div class="container max-w-screen-lg mx-auto">
        <div class="bg-white rounded shadow p-4 px-4 md:p-8 mb-6">
            <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
                <div class="text-gray-600">
                    <p class="font-medium text-lg">Cambiar rol</p>
                    <p>Editar Usuario</p>
                </div>
                
                <form action="/SaveEdit" method="POST">
                    <div class="lg:col-span-3">
                        <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">

                            <div class="md:col-span-5">
                                <fieldset disabled> 
                                    <label for="name">Nombre</label>
                                    <input type="text" name="name" id="name" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="{{usuario.Nombre}}" placeholder="{{Nombre}}" />
                                </fieldset> 
                            </div>

                            <div class="md:col-span-5">
                                <fieldset disabled> 
                                    <label for="run">RUT</label>
                                    <input type="text" name="run" id="run" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="{{usuario.Rut}}" />
                                </fieldset> 
                            </div>

                            <div class="md:col-span-5">
                                <fieldset disabled> 
                                    <label for="email">Correo</label>
                                    <input type="text" name="email" id="email" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="{{usuario.Correo}}" placeholder="" />
                                </fieldset> 
                            </div>

                            <!-- Dropdown menu -->
                            <div class="md:col-span-5 pt-4">
                                <Select id="role" name="role" class="h-10 border mt-1 rounded px-4 w-full">
                                    <option value="0">Seleccione un rol para el usuario</option>
                                    {{#each OpcionRoles}}
                                    <option value="{{ID}}">{{NomRol}}</option>
                                    {{/each}}
                                </Select>
                            </div>

                            <div class="md:col-span-5 text-right pt-4">
                                <div class="inline-flex items-end">
                                    <a href="/SaveEdit/{{usuario.ID}}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Realizar Cambios</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>